* {
    margin: 0%;
    padding: 0%;
}
.navbar {
    background: linear-gradient(to right, black 70%, white);
}
.navbar img {
    width: 100px;
}
.nav-link {
    color: wheat !important; 
    margin-left: 10px;
    font-family: cursive;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s;
}
.nav-link:hover{
    background-color: white;
    color: black !important;
    text-decoration: underline !important;
    border-radius: 20px;
}
/* ================== End Nav ====================== */
.fluid-container{
    width: 100%;
    background: linear-gradient(to right, black 70%, white);
}
.fluid-container h2{
    color: white;
    padding: 40px 0px 20px;
    text-align: center;
    font-size: 2.5rem;
}
.fluid-container .hr{
    width: 40%;
    background:linear-gradient(#eee ,red 90% ,#eee);
    border-radius: 100%;
    height: 3px;
    margin: 15px auto;
}
.fluid-container hr{
    border: 2px dashed #fff;
    margin: 15px auto;
}
.img-fluid{
    margin: 0px 200px;
    width: 72%;
}
.col-lg-7 h1{
    text-align: left;
    font-size: 35px;
    color: #eee;
}
.col-lg-7 p{
    color: #eee;
    font-family: 'Akaya Telivigala', cursive;
}
/*  ======================== End Section One ======================= */
.Gallery .nav-tabs{
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(to left , gray , black );
    margin: 15px auto;
}
.col-md-4 img{
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 20px;
}
/* ============ End Section two ===================  */
form p,h1{
    color: white;
    margin-top: 10px;
}
form input{
    padding: 7px 10px;
    width: 500px;
    border-radius: 5px;
    margin-top: -15px;
    outline: none;
}
form input:focus{
    border-color: blue;
}
form button{
    padding: 10px 20px;
    background-color: rgb(35, 35, 193);
    border-radius: 10px;
    color: #eee;
    margin: 15px 1px;
}
.col-md-6 img{
    margin-top: 30px;
    width: 500px;
}
/* ================== End Section Three ================ */
.footer{
    background-color: #26272b;
}
.footer h4{
    font-size: 15px;
    padding: 30px 0px 5px;
    color: antiquewhite;
}
.footer .col-md-6 p {
    font-family: 'Akaya Telivigala', cursive;
    color: #737373;
}
.footer .col-md-3 a{
    display: block;
    color: #737373;
}
.footer .col-md-3 a:hover {
    color: blue;
    text-decoration: none;
}
.footer hr{
    border: 0.5px solid  #737373;
    width: 100%;
    margin: 10px auto;
}
.footer .col-sm-10 p{
    color: #737373;
    padding: 10px 0px;
}
.footer .col-sm-10 a{
    color: #737373;
}
.footer .col-sm-10 a:hover{
    text-decoration: none;
    color: blue;
}
.footer .col-sm-2 i{
    background-color: #33353d;
    padding: 10px;
    border-radius: 20px;
}
.footer .col-sm-2 i:hover{
    background-color:white;
    cursor: pointer;
}
/* ================== End Section Four ================ */



